# Variables de entorno para la integración con Back4App Parse
PARSE_APP_ID=
PARSE_REST_KEY=
PARSE_JS_KEY=
PARSE_SERVER_URL=
PARSE_MASTER_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_API_URL=https://api.openai.com/v1/chat/completions
OPENAI_TEMPERATURE=